[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/

UserSettings/

.vscode/
.idea/

*.csproj
*.unityproj
*.sln
*.tmp
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb


venv/
venv/
ENV/
__pycache__/
*.pyc


